<div style="background-color: #c2185b">
  <p> {{ fullName$ | async }}
  </p>
</div>

<mat-nav-list>
  <mat-list-item routerLink="home">
    <a>Menu Principal</a>
  </mat-list-item>
  <mat-list-item routerLink="users" routerLinkActive #usuariosLink="routerLinkActive" [activated]="usuariosLink.isActive">
    <a>Alumnos</a>
  </mat-list-item>
  <mat-list-item routerLink="courses" routerLinkActive #cursosLink="routerLinkActive" [activated]="cursosLink.isActive">
    <a>Cursos</a>
  </mat-list-item>
  <mat-list-item routerLink="enrollments" routerLinkActive #enrollmentsLink="routerLinkActive" [activated]="enrollmentsLink.isActive">
    <a>Inscripciones</a>
  </mat-list-item>
  <mat-list-item (click)="logout()">
    <a>Cerrar sesión</a>
  </mat-list-item>
</mat-nav-list>
